<!-- The Basic GUI Design For Our Website -->

<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" href="Website.css">
    </head>

    <body>
        <div id="mainLayout">
            <!-- This is the Side Navbar -->
            <div id="sidebar">
                <div id="navSpace">
                    <!-- Replace This With an Icon Eventually... ? -->
                </div>
                <button class="sideButton" action="/main">
                    Home
                </button>
                <button class="sideButton" action="/calendar">
                    Calendars
                </button>
                <!-- These Will Need to Be Professor Only Eventually -->
                <button class="sideButton" action="/createclass">
                    Create Class
                </button>
                <button class="sideButton" action="/manageclass">
                    Manage Classes
                </button>
                <!-- These Will Only Be A Student View Eventually -->
                <button class="sideButton" action="/createevent">
                    Create Event
                </button>
                <button class="sideButton" action="/manageevent">
                    Manage Events
                </button>
                <button class="sideButton" action="/import">
                    Import Schedule
                </button>
                <button class="sideButton" action="/groups">
                    Groups
                </button>
                <!-- Utilities For Everyone -->
                <button class="sideButton" action="/finduser">
                    Find User
                </button>
                <button class="sideButton" action="/settings">
                    Settings
                </button>
                <button class="sideButton" action="/logout">
                    Log Out
                </button>
            </div>
            <!-- Main Tabs -->
            <div class="tab" id="calendars">
                <!-- Calendar Code -->
                <div class="calendar">
                    <div class="calHeader">
                        <div id="currentMonthYear">Month Year</div>
                        <button id="back"><</button>
                        <button id="next">></button>
                    </div>
                    <div class="calBody">
                        <div class="calWeekdays">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="calDates" id="calDates"></div>
                    </div>
                </div>
                <!-- Toggles For Which Calendars To Show -->
                <div class="calKey">
                    <div>
                        <input type="checkbox" id="exToggle1">
                        <label for="exToggle">Example Calendar 1</label>
                    </div>
                    <div>
                        <input type="checkbox" id="exToggle2">
                        <label for="exToggle">Example Calendar 2</label>
                    </div>
                    <div>
                        <input type="checkbox" id="exToggle3">
                        <label for="exToggle">Example Calendar 3</label>
                    </div>
                </div>
            </div>

        <!-- Link to JavaScript Code -->
         <script src="Website.js"></script>
    </body>
</html>